{erl_opts, [debug_info, warnings_as_errors,
            {platform_define, "(linux|solaris)", 'HAVE_FDATASYNC'}]}.

{cover_enabled, true}.

{deps, [{eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", {branch, "master"}}},
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}]}.
